<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009654154888-aqahc9vsp58ateh7gegc51c24h9a4f0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009654154888-aqahc9vsp58ateh7gegc51c24h9a4f0t</string>
	<key>API_KEY</key>
	<string>AIzaSyD5o-DG8T6Z8CNTU8Vz3JR61xJh1iFQ4lw</string>
	<key>GCM_SENDER_ID</key>
	<string>1009654154888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.divetimpera.pangrationScore</string>
	<key>PROJECT_ID</key>
	<string>pangration-scoreboard</string>
	<key>STORAGE_BUCKET</key>
	<string>pangration-scoreboard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009654154888:ios:d852b1480aa880a31c013d</string>
</dict>
</plist>